---
import {Navbar} from "../components/Nav";
import {Hero} from "../components/Hero";
import {FAQ} from "@/components/FAQ";
import {Footer} from "../components/Footer";
import "../assets/styles/globle.css";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navbar client:only="react">
      <div
        slot="fallback"
        class="animate-pulse text-center flex justify-center items-center text-slate-800 dark:bg-slate-800 min-h-[56px] w-full transition-all"
      >
        Loading
      </div>
    </Navbar>
    <Hero />
    <FAQ client:load />
    <Footer />
  </body>
</html>
